<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarCentroMedico(input.value)" type="text" class="form-control" placeholder="Buscar centro médico...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <span>Espere por favor</span>
        </div>
    </div>

</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h3 class="card-title">Centros Médicos registrados ( <small>{{ _centroMedicoService.totalCentrosMedicos }}</small> )</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button (click)="crearCentroMedico()" class="btn btn-info"><i class="fa fa-plus"></i> Crear Centro Médico</button>
                    </div>
                </div>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cm of centrosMedicos">
                            <td class="w70">
                                <img (click)="mostrarModal( cm._id)" [src]="cm.img | imagen:'centros_medicos'" class="img-50 img-circle pointer">
                            </td>
                            <td class="w-75">
                                <input [(ngModel)]="cm.nombre" type="text" name="nombre" class="form-control form-text">
                            </td>
                            <td>
                                <button (click)="guardarCentroMedico(cm)" class="btn btn-primary">
                              <i class="fa fa-save"></i>
                            </button>
                                <button (click)="borrarCentroMedico(cm)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
                Anterior
              </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
                  Siguiente
              </button>

            </div>
        </div>
    </div>
</div>